<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jebrookfunctionv3msicaller.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7317be97-c6d6-4ef8-9173-809f4614654e/resourceGroups/functionmsidemo/providers/Microsoft.Web/sites/jebrookfunctionv3msicaller</ResourceId>
    <UserName>$jebrookfunctionv3msicaller</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jebrookfunctionv3msicaller.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>